schematrons/include/jeuxDeValeurs/OBP-SNM_2022.01/JDV_OBP_ModeDebutTravail-CISIS.sch

<?xml version="1.0" encoding="UTF-8"?>

<!-- 
    JDV_OBP_ModeDebutTravail-CISIS.sch :
    
    Historique :
        20/04/2022  : Création 
        -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_OBP_ModeDebutTravail-CISIS" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$jdv_OBP_ModeDebutTravail-CISIS" />
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/procedure/code/qualifier/value" />
    <param name="xpath_elt" value="/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section/cda:component/cda:section/cda:entry/cda:procedure[cda:code/@code='73813-8']/cda:code/cda:qualifier/cda:value"/>
    <param name="nullFlavor" value="0"/>
    
</pattern> 




